<h1>
  Tracks
</h1>


<table class="chart">
  <thead>
    <tr>
      <th>Position</th>
      <th>Track</th>
      <th>Artist</th>
      <th>Plays</th>
    </tr>
  </thead>
  <tbody>
  <% @tracks.each_with_index do |track, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to_track track %></td>
      <td><%= link_to_artist track.artist %></td>
      <td><%= number_with_delimiter track.plays %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @tracks %>
