<h1>
  Tracks
</h1>


<table class="tracks chart">
  <thead>
    <tr>
      <th class="position">Position</th>
      <th class="track">Track</th>
      <%= content_tag 'th', 'Artist', class: "artist" unless @artist %>
      <th class="plays">Plays</th>
    </tr>
  </thead>
  <tbody>
  <% @tracks.each_with_index do |track, index| %>
    <tr>
      <td><%= @tracks.offset + index + 1 %></td>
      <td><%= link_to_track track %></td>
      <%= content_tag 'td', link_to_artist(track.artist) unless @artist %>
      <td><%= build_chart(track, @tracks) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @tracks %>
