<h1>
  <%= @artist.name %> &ndash; <%= @track.name %>
</h1>

<nav>
  <ol>
    <li><a href="<%= @track.lastfm_link %>">View on Last.fm</li>
    <li><%= link_to "Scrobbles", artist_track_scrobbles_path(@artist, @track) %></li>
    <li><%= link_to "Users", artist_track_users_path(@artist, @track) %></li>
  </ol>
</nav>

<h2>Top Users</h1>

<table class="chart">
  <thead>
    <tr>
      <th>Position</th>
      <th>User</th>
      <% if @users.first.try(:plays) %><th>Plays</th><% end %>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to_user user %></td>
      <% if @users.first.try(:plays) %>
        <td><%= number_with_delimiter(user.plays) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>


<h2>Recent Scrobbles</h2>
<table>
  <thead>
    <tr>
      <%= content_tag 'th', 'User' unless @user %>
      <%= content_tag 'th', 'Track' unless @track %>
      <%= content_tag 'th', 'Artist' unless @artist %>
      <th>Played At</th>
    </tr>
  </thead>
  <tbody>
  <% @scrobbles.each do |scrobble| %>
    <tr>
      <%= content_tag 'td', link_to_user(scrobble.user) unless @user %>
      <%= content_tag 'td', link_to_track(scrobble.track) unless @track %>
      <%= content_tag 'td', link_to_artist(scrobble.artist) unless @artist %>
      <td><%= time_tag scrobble.listened_at, format: :long %></td>
    </tr>
  <% end %>
  </tbody>
</table>
