<h1>
  <%= link_to_artist @artist %>
  &ndash; <%= @track.name %>
</h1>

<nav>
  <ol>
    <li><a href="<%= @track.lastfm_link %>">View on Last.fm</li>
    <li><%= link_to "Top tracks", tracks2_artist_path(@artist) %></li>
    <li><%= link_to "Scrobbles", artist_track_scrobbles_path(@artist, @track) %></li>
    <li><%= link_to "Listeners", users_artist_track_path(@artist, @track) %></li>
  </ol>
</nav>
