<h1>Scrobbles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Played At</th>
      <th>Artist</th>
      <th>Track</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
  <% @scrobbles.each do |scrobble| %>
    <tr>
      <td><%= link_to scrobble.user.username, scrobble %></td>
      <td><%= scrobble.listened_at %></td>
      <td><%= link_to scrobble.artist.name, scrobble.artist %></td>
      <td><%= link_to scrobble.track.name, [scrobble.artist, scrobble.track] %></td>
      <td><%= link_to scrobble.album.name, [scrobble.artist, scrobble.album] if scrobble.album %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @scrobbles %>
