<h1>Track Chart</h1>

<table class="chart">
  <thead>
    <tr>
      <th>Position</th>
      <th>Track</th>
      <%= content_tag 'th', 'Artist' unless @artist %>
      <th>Plays</th>
    </tr>
  </thead>
  <tbody>
  <% @track_chart.each_with_index do |track, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to_track track %></td>
      <%= content_tag 'td', link_to_artist(track.artist) unless @artist %>
      <td><%= number_with_delimiter(track.plays) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
